  .fixed {
      position: fixed;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    
    .transition-transform {
      transition: transform 0.3s ease;
    }

  .shine-button {
    position: relative;
    overflow: hidden;
  }

  .shine-button.loading {
    background-color: #4338ca;
  }

  .shine-button.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: shine 1.5s infinite ease-in-out;
    z-index: 0;
  }

  @keyframes shine {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

  .shine-button .shine-text {
    position: relative;
    z-index: 1;
    color: white;
  }


  .accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
  }

  .accordion-content.open {
    max-height: 500px;
    opacity: 1;
  }


  .overflow-y-auto::-webkit-scrollbar {
    width: 8px;
  }

  .overflow-y-auto::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
  }

  .overflow-y-auto::-webkit-scrollbar-thumb {
    background: #8888883d;
    border-radius: 10px;
  }

  .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: #696969;
  }

  /* Animacion para la aparición del selector de colores */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  /* Animación de entrada más suave */
  .modal-enter {
    animation: entrar 0.4s ease-in-out forwards;
  }



  /* Keyframes para la entrada */
  @keyframes entrar {
    0% {
      opacity: 0;
      transform: translateY(-10%); /* Movimiento más sutil */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Se asegura de llegar a la posición final */
    }
  }

  /* Keyframes para la salida */
  @keyframes salir {
    0% {
      opacity: 1;
      transform: translateY(0); /* Empieza desde la posición final */
    }
    100% {
      opacity: 0;
      transform: translateY(-10%); /* Movimiento más sutil */
    }
  }



  /* Para el overlay */
  .overlay-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }

  .overlay-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-20%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slideIn {
    animation: slideIn 0.5s ease-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px) scale(0.9);
    }
  }

  .animate-in {
    animation: fadeIn 0.5s forwards;
  }

  .animate-out {
    animation: fadeOut 0.5s forwards;
  }

    .circles{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }
    .circles li{
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;  
  }
  .circles li:nth-child(1){
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2){
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
  }
  
  .circles li:nth-child(3){
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
  }
  
  .circles li:nth-child(7){
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
  }
  
  .circles li:nth-child(8){
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 30s;
  }
  
  .circles li:nth-child(9){
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
  }
  
  .circles li:nth-child(10){
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
  }
  .circles li:nth-child(11){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
    animation-duration: 15s;
  }

  .circles li:nth-child(12){
    left: 25%;
    width: 40px;
    height: 40px;
    animation-delay: 5s;
    animation-duration: 20s;
  }
  .circles li:nth-child(13){
    left: 55%;
    width: 45px;
    height: 45px;
    animation-delay: 8s;
    animation-duration: 20s;
  }
  .circles li:nth-child(14){
    left: 60%;
    width: 25px;
    height: 25px;
    animation-delay: 12s;
    animation-duration: 20s;
  }

  @keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

  }

  @keyframes borderAnimation {
    0% {
      background-position: 200% 50%; /* Inicio en la posición inicial */
    }
    100% {
      background-position: 0% 50%; /* Mover a la derecha hasta 200% */
    }
  }

  .animate-border {
    background: linear-gradient(to right, #4f46e5, rgb(168, 168, 168), #4f46e5); 
    background-size: 200% 100%;
    background-position: 0% 50%; 
    height: 2px; 
    animation: borderAnimation 4s linear infinite;
    margin: 0 auto; 
    width: 100%; 
  }


  @keyframes animateGradient {
    0% {
      background-position: 200% 50%; 
    }
    100% {
      background-position: 0% 50%; 
    }
  }

  .animate-gradient-text {
    background: linear-gradient(to right, #4f46e5, rgb(168, 168, 168), #4f46e5, #4f46e5, rgb(168, 168, 168), #4f46e5);
    background-size: 200% 100%;
    background-position: 200% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateGradient 8s linear infinite; 
  }

  
  
  
  