<div class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center border-b-2 dark:border-gray-700">
  <div class="capitalize">
    <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-900 dark:text-gray-200">
      {{ 'labels.pestañaMantenimiento' | translate }}
    </h6>
  </div>
  
  <div class="flex items-center flex-wrap gap-2"> <!-- Ajuste aquí para hacer el contenedor flexible -->
    <!-- Botón para abrir el sidebar en pantallas pequeñas -->
    <button (click)="abrirSidebar()"
      class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 h-10 rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 grid xl:hidden">
      <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" stroke-width="3" class="h-6 w-6 text-blue-gray-500">
          <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"></path>
        </svg>
      </span>
    </button>

    <!-- Contenedor del botón y tooltip -->
    <a class="relative group">
      <!-- Botón para usuario -->
      <button class="middle none font-sans font-bold center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 hidden items-center gap-1 px-4 xl:flex" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
          <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
        </svg>
      </button>

      <!-- Tooltip -->
      <div class="absolute z-20 hidden group-hover:block w-32 sm:w-36 md:w-48 transition duration-150 ease-in-out left-1/2 transform -translate-x-1/2 top-full mt-2 shadow-lg bg-gray-700 dark:bg-gray-900 p-2 rounded text-center">
        <!-- Flecha más pequeña -->
        <svg class="absolute left-1/2 transform -translate-x-1/2 -top-2 h-3 w-3 text-gray-700 dark:text-gray-900" viewBox="0 0 10 5">
          <polygon points="0,5 5,0 10,5" fill="currentColor" />
        </svg>
        <p class="text-xs font-bold text-sky-600 pb-1">Informacion del usuario</p>
        <p class="text-xs leading-4 text-white">{{'labels.usuario' | translate}}: {{ usuario}}</p>
      </div>
      
      <button class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 h-10 rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 grid xl:hidden" type="button">
        <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
            <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
          </svg>
        </span>
      </button>
    </a>

    <button (click)="toggleTheme()" 
    class="relative w-14 h-8 bg-gray-300 dark:bg-indigo-500 rounded-full shadow-inner flex items-center p-1 transition-all duration-200 ease-in-out ml-4">
      <span class="w-6 h-6 bg-white rounded-full flex items-center justify-center 
                transform transition-transform duration-200 ease-in-out 
                hover:shadow-[0_0_10px_rgba(255,221,51,0.7)] hover:bg-opacity-80 
                hover:scale-105" 
          [ngClass]="{ 'translate-x-0': !isDarkMode, 'translate-x-6': isDarkMode }">
      <i *ngIf="!isDarkMode" class="fas fa-sun w-4 h-4 text-yellow-400 transition-colors duration-200 ease-in-out"></i>
      <i *ngIf="isDarkMode" class="fas fa-moon w-4 h-4 text-indigo-600 transition-colors duration-200 ease-in-out"></i>
      </span>
    </button>
  </div>
</div>
