<!-- Recuadros de información más grandes -->
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">
  
    <!-- Primer recuadro más grande -->
    <div class="col-span-2">
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-gray-200 text-gray-700 shadow-md p-6">
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600"></p>
          <h4 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900">Informacion adicional</h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
        </div>
      </div>
    </div>
  
    <!-- Segundo recuadro más grande -->
    <div class="col-span-2">
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-gray-200 text-gray-700 shadow-md p-6">
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600"></p>
          <h4 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900">Informacion adicional</h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
        </div>
      </div>
    </div>
  </div>
  