<div class="mb-4 flex flex-col sm:flex-row sm:items-center sm:space-x-4">
  <div class="inline-flex items-center justify-center bg-gray-200 dark:bg-gradient-to-br dark:from-gray-800 dark:to-gray-900 text-gray-800  dark:text-gray-200 rounded-full px-3 py-1 text-base shadow-md">
    <h4 class="font-semibold flex items-center">
      {{'labels.noElementosAsignados' | translate}}:
      <span class="font-bold ml-2 text-gray-600 dark:text-gray-400">{{ elementosAsignadosInicio.length }}</span>
    </h4>
  </div>
  <div class="relative mt-2 sm:mt-0">
    <input
      type="text"
      placeholder="{{'labels.buscarElemento' | translate}}"
      class="pl-10 pr-4 py-1.5 rounded-lg border border-gray-300 dark:border-gray-600 focus:outline-none focus:border-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50 text-gray-800 dark:text-gray-200 bg-white dark:bg-gray-800 text-sm w-full sm:w-48 transition-all duration-300 peer shadow-sm hover:shadow-md dark:shadow-gray-900"
      (input)="filtrarElementos($event)"
    />
    <i class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 transform -translate-y-1/2 pointer-events-none text-gray-400 dark:text-gray-300 peer-focus:text-indigo-500 dark:peer-focus:text-indigo-400 peer-hover:text-gray-600 dark:peer-hover:text-gray-400 transition-transform duration-200 ease-in-out peer-focus:scale-110"></i>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">
  <!-- Primer recuadro más grande -->
  <div class="col-span-2 flex flex-col">
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white dark:bg-gradient-to-br dark:from-gray-800 dark:to-gray-900 text-gray-700 dark:text-white shadow-md p-6 flex-grow">
      <div class="p-4 flex items-center justify-between flex-wrap gap-2">
        <h4 class="antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
          {{'labels.seleccionarElementos' | translate}}
        </h4>
        <label class="flex items-center gap-2 bg-gray-100 dark:bg-gray-700 p-1.5 rounded-md hover:bg-blue-100 transition duration-200 ease-in-out cursor-pointer">
          <input 
            type="checkbox" 
            class="relative w-5 h-5 aspect-square !appearance-none !bg-none checked:!bg-gradient-to-tr checked:!from-sky-400 checked:!to-white bg-white border border-gray-300 shadow-sm rounded !outline-none !ring-0 !text-transparent !ring-offset-0 checked:!border-sky-400 hover:!border-sky-400 cursor-pointer transition-all duration-300 ease-in-out focus-visible:!outline-offset-2 focus-visible:!outline-2 focus-visible:!outline-sky-400/30 focus-visible:border-sky-400 after:w-[35%] after:h-[53%] after:absolute after:opacity-0 after:top-[40%] after:left-[50%] after:-translate-x-2/4 after:-translate-y-2/4 after:rotate-[25deg] after:drop-shadow-[1px_0.5px_1px_rgba(56,149,248,0.5)] after:border-r-[0.20em] after:border-r-white after:border-b-[0.20em] after:border-b-white after:transition-all after:duration-200 after:ease-linear checked:after:opacity-100 checked:after:rotate-45"
            [checked]="isAllSelected()" 
            (change)="toggleSelectAll($event)"
          />
          <span class="text-sm font-medium text-gray-700  dark:text-white ">{{'labels.seleccionarTodos' | translate}}</span>
        </label>
      </div>
      
      <div class="border-t border-blue-gray-50 p-4 overflow-y-auto h-64 flex-grow dark:border-gray-500">
        <div class="grid grid-cols-2 gap-4">
          <div *ngIf="isLoading" class="col-span-2 flex flex-col justify-center items-center">
            <div class="w-8 h-8 rounded-full animate-spin border-y-4 border-solid border-blue-500 border-t-transparent"></div>
            <p class="mt-2 text-gray-600 dark:text-white">{{'labels.cargandoDatos' | translate}}...</p>
          </div>
          <label *ngFor="let elemento of elementosAsignadosInicio" class="flex items-center p-2 bg-gray-100 dark:bg-gray-700 rounded-lg hover:bg-blue-100 dark:hover:bg-gray-600 transition duration-200 ease-in-out">
            <input type="checkbox" 
            class="relative w-4 h-4 aspect-square !appearance-none !bg-none checked:!bg-gradient-to-tr checked:!from-sky-400 checked:!to-white bg-white border border-gray-300 shadow-sm rounded !outline-none !ring-0 !text-transparent !ring-offset-0 checked:!border-sky-400 hover:!border-sky-400 cursor-pointer transition-all duration-300 ease-in-out focus-visible:!outline-offset-2 focus-visible:!outline-2 focus-visible:!outline-sky-400/30 focus-visible:border-sky-400 after:w-[35%] after:h-[53%] after:absolute after:opacity-0 after:top-[40%] after:left-[50%] after:-translate-x-2/4 after:-translate-y-2/4 after:rotate-[25deg] after:drop-shadow-[1px_0.5px_1px_rgba(56,149,248,0.5)] after:border-r-[0.17em] after:border-r-white after:border-b-[0.17em] after:border-b-white after:transition-all after:duration-200 after:ease-linear checked:after:opacity-100 checked:after:rotate-45" 
            [checked]="isSelected(elemento)" (change)="seleccionElemento(elemento, $event)">
            <span class="ml-2">{{ elemento.descripcion }}</span>
          </label>
        </div>
      </div>
      <div class="mt-2 flex justify-end">
        <button *ngIf="mostrarBtnLimpiarSeleccion" (click)="limpiarSelecciones()" 
                class="text-sm font-medium dark:bg-gray-700 text-gray-700  dark:text-white border dark:border-gray-500 border-gray-300 rounded-md px-3 py-1 hover:bg-gray-100 hover:border-gray-500 dark:hover:border-gray-300 transition duration-200 ease-in-out">
                {{'buttonsLabels.btnLimpiarSelecciones' | translate}}
        </button>
      </div>
    </div>
  </div>

  <!-- Segundo recuadro más grande -->
  <div class="col-span-2 flex flex-col">
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white dark:bg-gradient-to-br dark:from-gray-800 dark:to-gray-900 text-gray-700 dark:text-white shadow-md p-6 flex-grow">
      <div class="p-4 text-left">
        <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-gray-800 dark:text-white">
          {{'labels.informacionElementosSeleccionados' | translate}}
        </h4>
        
        <!-- Badge Start -->
        <span 
          *ngIf="hayElementosSeleccionados"
          class="inline-flex items-center rounded-full p-1.5 bg-slate-600 text-white 
                 group transition-all duration-500 focus:ring-2 focus:ring-slate-600 
                 focus:ring-offset-2 focus:outline-none mt-1"
          role="alert"
          tabindex="0"
        >
          <svg 
            aria-hidden="true" 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 20 20" 
            fill="currentColor" 
            class="w-5 h-5"
          >
            <path 
              fill-rule="evenodd" 
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" 
              clip-rule="evenodd" 
            />
          </svg>
      
          <span 
            class="whitespace-nowrap inline-block max-w-0 group-hover:max-w-xs 
                   group-focus:max-w-xs overflow-hidden transition-all duration-500 
                   group-hover:px-2 group-focus:px-2 text-sm"
          >
            {{ elementosAsignadosSeleccionado.length }} {{'labels.elementosSeleccionados' | translate}}
          </span>
        </span>
      </div>
      <div class="border-t border-blue-gray-50 p-4 overflow-y-auto h-64 flex-grow dark:border-gray-500">
        <div *ngIf="!hayElementosSeleccionados" class="text-gray-600 dark:text-white ">
          {{'labels.noSeHaSeleccionadoNingunElemento' | translate}}
        </div>
        <div *ngFor="let elemento of elementosAsignadosSeleccionado" class="mb-4">
          <h5 class="font-semibold text-lg dark:text-white">Elemento ID: {{ elemento.elemento_Asignado }}</h5>
          <div class="border-t border-blue-gray-200 mt-2 dark:border-gray-500">
            <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600 dark:text-white ">{{ elemento.descripcion }}</p>
          </div>
        </div>
      </div>
      <div class="mt-4 flex justify-center">
        <button 
          *ngIf="hayElementosSeleccionados"
          (click)="mostrarModalConfirmacion()" 
          class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 hover:scale-105 active:scale-95 shadow-md hover:shadow-lg active:shadow-sm focus:outline-none focus:ring-2 focus:ring-red-300 transition-transform duration-200 ease-in-out"
        >
        {{'buttonsLabels.btnConfirmarDesasignacion' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<app-messages
  [isVisibleModal]="isVisibleModal"
  [mensajeModal]="hayElementosSeleccionados ? ('infoTextos.confirmarDesasignacionSeleccionados' | translate) : ''"
  (confirmarAccion)="desasignarElementos()"
  (cancelarAccion)="isVisibleModal = false" 
></app-messages>

<app-spinner [isLoading]="isLoading"></app-spinner>

  