/* Animación de entrada del dropdown */
@keyframes dropdown-show {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-dropdown-catalogos-show {
  animation: dropdown-show 0.3s forwards;
}

/* Estilo adicional para mostrar opcion seleccionada Dropdown */
.selected-option {
  border-left: 4px solid #e5e7eb;
}
