<!-- Componente Dashboard -->
<div>
  <div class="flex flex-wrap justify-start sm:space-x-4 sm:space-y-0 space-y-2 mb-6">
    <button 
        (click)="asignarElemento()" 
        [ngClass]="{
            'bg-sky-700 shadow-lg scale-105': mostrarAsignador, 
            'bg-blue-500': !mostrarAsignador
        }" 
        class="text-white px-2 py-1 rounded hover:bg-sky-600 text-xs sm:text-sm w-full sm:w-auto transition-all duration-300 ease-in-out transform"
    >
        Asignar Elemento
    </button>
    <button 
        [disabled]=" true"
        (click)="desasignarElemento()" 
        [ngClass]="{
            'bg-sky-700 shadow-lg scale-105': mostrarDesasignador, 
            'bg-gray-300': !mostrarDesasignador
        }" 
        class="text-white px-2 py-1 rounded hover:bg-gray-300 text-xs sm:text-sm w-full sm:w-auto transition-all duration-300 ease-in-out transform"
    >
        Desasignar Elemento
    </button>
</div>


  <!-- Línea divisoria -->
  <hr class="border-t-2 border-gray-300 mb-6" />

  <!-- Componente de Asignador y Desasignador -->
  <div class="flex justify-between">
    <div *ngIf="mostrarAsignador" class="w-full">
      <app-asignador
        (regresar)="mostrarInicio = true; mostrarAsignador = false"
      />
    </div>
    <div *ngIf="mostrarDesasignador" class="w-full">
      <app-desasignador
        (regresar)="mostrarInicio = true; mostrarDesasignador = false"
      />
    </div>
  </div>
</div>

<div *ngIf="mostrarInicio">
  <app-inicio></app-inicio>
</div>
