<!-- Componente Dashboard -->
<div>
  <div class="flex flex-wrap justify-start sm:space-x-4 sm:space-y-0 space-y-2 mb-6 items-center w-full">
    <button 
      (click)="asignarElemento()" 
      [ngClass]="{
        'bg-sky-700 shadow-lg scale-105': mostrarAsignador, 
        'bg-blue-500': !mostrarAsignador
      }" 
      class="text-white px-2 py-1 rounded hover:bg-sky-600 text-xs sm:text-sm w-full sm:w-auto transition-all duration-300 ease-in-out transform 
             dark:bg-blue-600 dark:hover:bg-blue-700 dark:shadow-lg"
    >
    {{'buttonsLabels.btnAsignarElemento' | translate}}
    </button>
  
    <button 
      *ngIf="tieneElementos"
      (click)="desasignarElemento()" 
      [ngClass]="{
        'bg-sky-700 shadow-lg scale-105': mostrarDesasignador, 
        'bg-blue-500': !mostrarDesasignador
      }" 
      class="text-white px-2 py-1 rounded hover:bg-sky-600 text-xs sm:text-sm w-full sm:w-auto transition-all duration-300 ease-in-out transform 
             dark:bg-blue-600 dark:hover:bg-blue-700 dark:shadow-lg"
    >
    {{'buttonsLabels.btnDesasignarElemento' | translate}}
    </button>
  
    <button
      *ngIf="!mostrarInicio"
      (click)="volverInicio()"
      class="bg-gray-800 text-white px-2 py-1 rounded hover:bg-gray-600 text-xs sm:text-sm w-full sm:w-auto transition-all duration-300 ease-in-out transform 
             flex items-center justify-center gap-2 ml-auto 
             dark:bg-gray-700 dark:hover:bg-gray-500 dark:text-gray-200"
    >
      <i class="fa-solid fa-house ml-1"></i>
      {{'buttonsLabels.btnVolverInicio' | translate}}
    </button>
  </div>
  
  
  <!-- Línea divisoria -->
  <hr class="border-t-2 border-gray-300 dark:border-gray-500 mb-6" />

  <!-- Componente de Asignador y Desasignador -->
  <div class="flex justify-between">
    <div *ngIf="mostrarAsignador" class="w-full">
      <app-asignador
      (mensajeError)="manejarMensajeError($event)"
       (mensajeExito)="manejarMensajeExito($event)" 
       (regresar)="volverInicio()"
      />
    </div>
    <div *ngIf="mostrarDesasignador" class="w-full">
      <app-desasignador
      (mensajeError)="manejarMensajeError($event)"
        (mensajeExito)="manejarMensajeExito($event)"
        (regresar)="volverInicio()"
      />
    </div>
  </div>
</div>

<app-messages
  [mensajeExito]="isVisibleExito ? mensajeExito : ''" 
  [mensajeAlerta]="isVisibleAlerta ? mensajeAlerta : ''"
  [isVisibleExito]="isVisibleExito" 
  [isVisibleAlerta]="isVisibleAlerta" 
  (cerrar)="ocultarAlerta()">
</app-messages>

<div *ngIf="mostrarInicio">
  <app-inicio></app-inicio>
</div>
