<nav class="bg-gray-200 dark:bg-gray-800 p-4 flex items-center justify-end">

  <!-- Botones principales -->
  <div class="flex items-center space-x-4">
    <!-- Botón para desplegar menú -->
    <div class="relative">
      <button 
        (click)="logout()" 
        class=" bg-red-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-red-400">
        Cerrar Sesion
      </button>
    </div>

    <div class="relative">
      <!-- Botón de idiomas -->
      <button
        (click)="toggleIdiomaMenu()"
        class="flex items-center justify-between w-full rounded-md p-2 text-black dark:text-white bg-gray-100 dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 dark:focus:ring-gray-600 transition duration-150 ease-in-out"
      >
        <img
          [src]="getFlagUrl(traduccionService.getIdiomaActual())"
          alt="Current Language Flag"
          class="w-4 h-3 mr-2"
        />
        <span class="text-xs md:text-sm">
          {{
            traduccionService.getIdiomaActual() === 'en'
              ? 'English'
              : traduccionService.getIdiomaActual() === 'es'
              ? 'Español'
              : traduccionService.getIdiomaActual() === 'fr'
              ? 'Frances'
              : 'German'
          }}
        </span>
        <svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20">
          <path d="M7 10l5 5 5-5H7z" />
        </svg>
      </button>
    
      <!-- Menú desplegable -->
      <div
        *ngIf="isIdiomaMenuOpen"
        class="absolute z-10 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-md mt-2 shadow-lg w-full"
      >
        <div
          (click)="onCambioIdioma('en')"
          class="p-2 cursor-pointer flex items-center text-xs text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700"
        >
          <img
            src="images/us.png"
            alt="US Flag"
            class="inline-block w-4 h-3 mr-2"
          />
          English
        </div>
        <div
          (click)="onCambioIdioma('es')"
          class="p-2 cursor-pointer flex items-center text-xs text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700"
        >
          <img
            src="images/es.png"
            alt="Spanish Flag"
            class="inline-block w-4 h-3 mr-2"
          />
          Español
        </div>
        <div
          (click)="onCambioIdioma('fr')"
          class="p-2 cursor-pointer flex items-center text-xs text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700"
        >
          <img
            src="images/fr.png"
            alt="France Flag"
            class="inline-block w-4 h-3 mr-2"
          />
          Frances
        </div>
        <div
          (click)="onCambioIdioma('de')"
          class="p-2 cursor-pointer flex items-center text-xs text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700"
        >
          <img
            src="images/de.png"
            alt="Germany Flag"
            class="inline-block w-4 h-3 mr-2"
          />
          German
        </div>
      </div>
    </div>
    
    
    <!-- Switch de tema -->
    <button 
      (click)="toggleTheme()" 
      class="relative w-14 h-8 bg-gray-300 dark:bg-indigo-500 rounded-full shadow-inner flex items-center p-1 transition-all duration-200 ease-in-out ml-4">
      <span class="w-6 h-6 bg-white rounded-full flex items-center justify-center 
                transform transition-transform duration-200 ease-in-out 
                hover:shadow-[0_0_10px_rgba(255,221,51,0.7)] hover:bg-opacity-80 
                hover:scale-105" 
          [ngClass]="{ 'translate-x-0': !isDarkMode, 'translate-x-6': isDarkMode }">
        <i *ngIf="!isDarkMode" class="fas fa-sun w-4 h-4 text-yellow-400 transition-colors duration-200 ease-in-out"></i>
        <i *ngIf="isDarkMode" class="fas fa-moon w-4 h-4 text-indigo-600 transition-colors duration-200 ease-in-out"></i>
      </span>
    </button>
  </div>
</nav>
