<!-- Modal de confirmación -->
<div *ngIf="isVisibleModal" class="fixed inset-0 z-50 flex items-center justify-center transition-transform transform duration-300">
    <!-- Fondo borroso -->
    <div class="fixed inset-0 bg-black/30 backdrop-blur-sm"></div>
  
    <!-- Contenido del modal -->
    <div class="relative bg-white text-gray-800  dark:bg-gray-900 dark:text-gray-300 shadow-lg rounded-lg p-6 transition-transform duration-300 max-w-lg w-full mx-4 md:mx-0"
         [ngClass]="{'animate-modalBounceIn': isVisibleModal, 'animate-modalBounceOut': !isVisibleModal}">
  
      <!-- Icono de alerta -->
      <div class="flex items-center justify-center mb-4">
        <i class="fa-solid fa-circle-exclamation text-4xl text-yellow-500"></i>
      </div>
  
      <!-- Título del modal -->
      <h2 class="text-2xl font-semibold text-center mb-2">{{'infoTextos.confirmacionRequerida' | translate}}</h2>
  
      <!-- Mensaje del modal -->
      <p class="text-center text-sm mb-6">{{ mensajeModal }}</p>
  
      <!-- Botones de acción -->
      <div class="flex justify-center space-x-4">
        <button (click)="cancelar()" class="px-6 py-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300 transition-colors duration-200 
                dark:text-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600">
                {{'buttonsLabels.btnCancelar' | translate}}
        </button>
        <button (click)="confirmar()" class="px-6 py-2 text-sm font-semibold text-white bg-blue-600 rounded-md hover:bg-blue-700 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 
                dark:bg-blue-500 dark:hover:bg-blue-600">
                {{'buttonsLabels.btnConfirmar' | translate}}
        </button>
      </div>
    </div>
</div>

<!-- Mensaje de alerta o errores -->
<div *ngIf="isVisibleAlerta" 
     class="fixed right-4 bottom-4 z-50 bg-red-100 text-red-700 shadow-md rounded-lg p-3 mb-4 text-xs w-full max-w-xs sm:max-w-sm md:max-w-md"
     [ngClass]="{'animate-bounceIn': isVisibleAlerta, 'animate-fadeOut': !isVisibleAlerta}"
     role="alert">
  <div class="flex items-center">
    <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zm-2 4a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
    </svg>
    <div class="flex-1 text-sm">
      <p class="font-sans leading-tight font-medium">
        {{ mensajeAlerta }}
      </p>
    </div>
    <button (click)="ocultarAlerta()" class="text-gray-500 hover:text-gray-800 focus:outline-none ml-2">
      <i class="fa fa-times" aria-hidden="true"></i> <!-- Icono de cerrar -->
    </button>
  </div>
</div>

<!-- Mensaje de éxito -->
<div *ngIf="isVisibleExito" 
     class="fixed right-4 bottom-4 z-50 bg-green-100 text-green-700 shadow-md rounded-lg p-3 mb-4 text-xs w-full max-w-xs sm:max-w-sm md:max-w-md"
     [ngClass]="{'animate-bounceIn': isVisibleExito, 'animate-fadeOut': !isVisibleExito}"
     role="alert">
  <div class="flex items-center">
    <i class="fa-solid fa-circle-check text-base mr-2"></i>
    <div class="flex-1 text-sm">
      <p class="font-sans leading-tight font-medium">
        {{ mensajeExito }}
      </p>
    </div>
    <button (click)="ocultarExito()" class="text-gray-500 hover:text-gray-800 focus:outline-none ml-2">
      <i class="fa fa-times" aria-hidden="true"></i> <!-- Icono de cerrar -->
    </button>
  </div>
</div>
