<!-- Modal de confirmación -->
<div *ngIf="isVisibleModal" class="fixed inset-0 z-50 flex items-center justify-center transition-transform transform duration-300">
    <!-- Fondo borroso -->
    <div class="fixed inset-0 bg-black/30 backdrop-blur-sm"></div>
  
    <!-- Contenido del modal -->
    <div class="relative bg-white text-gray-800 shadow-lg rounded-lg p-6 transition-transform duration-300 max-w-lg w-full mx-4 md:mx-0"
         [ngClass]="{'animate-modalBounceIn': isVisibleModal, 'animate-modalBounceOut': !isVisibleModal}">
  
      <!-- Icono de alerta -->
      <div class="flex items-center justify-center mb-4">
        <i class="fa-solid fa-circle-exclamation text-4xl text-yellow-500"></i>
      </div>
  
      <!-- Título del modal -->
      <h2 class="text-2xl font-semibold text-center mb-2">Confirmación Requerida</h2>
  
      <!-- Mensaje del modal -->
      <p class="text-center text-sm mb-6">{{ mensajeModal }}</p>
  
      <!-- Botones de acción -->
      <div class="flex justify-center space-x-4">
        <button (click)="cancelar()" class="px-6 py-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300 transition-colors duration-200">
          Cancelar
        </button>
        <button (click)="confirmar()" class="px-6 py-2 text-sm font-semibold text-white bg-blue-600 rounded-md hover:bg-blue-700 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
          Confirmar
        </button>
      </div>
    </div>
  </div>
  