<div
  class="absolute top-0 left-0 bottom-0 leading-5 h-full w-full bg-gray-700 overflow-hidden animate-bg-cascada"
></div>
  <!-- [ngStyle]="{ background: colorSeleccionado }" -->

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  
  <div
    *ngIf="mostrarModal"
    class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 duration-300 overflow-y-auto modal-overlay backdrop-blur-xs z-20"
  ></div>

<div
  class="relative min-h-screen flex flex-col items-center justify-center sm:flex-row sm:items-center bg-transparent rounded-3xl shadow-xl p-4 sm:p-0"
>

  <div class="flex items-center space-x-4 rtl:space-x-reverse mb-8 animate-slideIn sm:mb-4 sm:mr-0 sm:ml-8 sm:justify-start">
    <!-- Logo de la empresa -->
    <img src="images/logoDmosoftCarga.png" alt="Dmosoft Logo" class="h-20 w-auto sm:h-24 lg:h-28" />
  </div>

  <!-- Login Form -->
  <div
    class="relative flex justify-center self-center z-10 w-full sm:w-96 lg:mx-80 animate-slideIn sm:ml-8"
  >
    <div
      class="p-6 sm:p-12 bg-white bg-opacity-90 dark:bg-gray-900 dark:bg-opacity-90 mx-auto rounded-3xl shadow-2xl relative w-full max-w-md"
    >
      <!-- Icono para abrir apartado url -->
      <svg
        (click)="alternarMensaje()"
        xmlns="http://www.w3.org/2000/svg"
        [ngClass]="{ hidden: mostrarMensaje }"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="absolute right-4 top-4 w-6 h-6 sm:w-8 sm:h-8 text-blue-400 dark:text-blue-300 cursor-pointer"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-1.5 0a6.5 6.5 0 1 1-11-4.69v.447a3.5 3.5 0 0 0 1.025 2.475L8.293 10 8 10.293a1 1 0 0 0 0 1.414l1.06 1.06a1.5 1.5 0 0 1 .44 1.061v.363a1 1 0 0 0 .553.894l.276.139a1 1 0 0 0 1.342-.448l1.454-2.908a1.5 1.5 0 0 0-.281-1.731l-.772-.772a1 1 0 0 0-1.023-.242l-.384.128a.5.5 0 0 1-.606-.25l-.296-.592a.481.481 0 0 1 .646-.646l.262.131a1 1 0 0 0 .447.106h.188a1 1 0 0 0 .949-1.316l-.068-.204a.5.5 0 0 1 .149-.538l1.44-1.234A6.492 6.492 0 0 1 16.5 10Z"
          clip-rule="evenodd"
        />
      </svg>

      <!-- Icono para cerrar apartado url -->
      <svg
        (click)="alternarMensaje()"
        xmlns="http://www.w3.org/2000/svg"
        [ngClass]="{ block: mostrarMensaje, hidden: !mostrarMensaje }"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="absolute right-4 top-4 w-6 h-6 sm:w-8 sm:h-8 text-red-400 dark:text-red-300 cursor-pointer"
      >
        <path
          fill-rule="evenodd"
          d="M10 9.293l3.293-3.293a1 1 0 0 1 1.414 1.414L11.414 10l3.293 3.293a1 1 0 0 1-1.414 1.414L10 11.414l-3.293 3.293a1 1 0 0 1-1.414-1.414L8.586 10 5.293 6.707a1 1 0 0 1 1.414-1.414L10 8.586z"
          clip-rule="evenodd"
        />
      </svg>
      <div class="mb-6">
        <h3 class="font-bold text-3xl text-indigo-700 dark:text-indigo-400 text-center pb-2 animate-gradient-text">
          {{ "labelsLogin.iniciarSesion" | translate }}
        </h3>
        <div class="animate-border my-4"></div>
      </div>
      
      <div class="space-y-6">
        <!-- Usuario Input -->
        <div class="relative group">
          <input
            #usuarioInput
            class="w-full text-sm px-4 py-3 pl-12 bg-gray-200 dark:text-white dark:bg-gray-700 focus:bg-gray-100 dark:focus:bg-gray-600 border border-gray-200 dark:border-gray-600 rounded-lg focus:outline-none focus:border-indigo-500 dark:focus:border-indigo-400 focus:shadow-xl"
            type="text"
            placeholder="{{ 'labelsLogin.usuarioLogin' | translate }}"
            [(ngModel)]="usuario"
            (ngModelChange)="onUsuarioChange()"
            (keydown)="onKeyDown($event, 'usuario')"
            (keydown.enter)="verificarCampos()"
          />
          <i class="fa-solid fa-user absolute left-3 top-3 text-gray-400 dark:text-gray-500 group-focus-within:text-indigo-500 dark:group-focus-within:text-indigo-400 transition-colors duration-300"></i>
          <kbd class="inline-flex items-center px-2 py-1.5 text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500 absolute right-3 top-3">
            <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 10">
              <path d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"/>
            </svg>
            <span class="sr-only">Arrow key down</span>
          </kbd>
          <div *ngIf="errores.usuario" class="text-red-500 text-sm mt-1">{{ 'messages.errorUsuario' | translate }}</div>
        </div>

        <!-- Contraseña Input -->
        <div class="relative group">
          <input
            #passInput
            placeholder="{{ 'labelsLogin.contraseñaLogin' | translate }}"
            [(ngModel)]="pass"
            type="password"
            class="w-full text-sm px-4 py-3 pl-12 bg-gray-200 dark:text-white dark:bg-gray-700 focus:bg-gray-100 dark:focus:bg-gray-600 border border-gray-200 dark:border-gray-600 rounded-lg focus:outline-none focus:border-indigo-500 dark:focus:border-indigo-400 focus:shadow-xl"
            (keydown)="onKeyDown($event, 'pass')"
            
            (keydown.enter)="verificarCampos()"
          />
          <i class="fas fa-lock absolute left-3 top-3 text-gray-400 dark:text-gray-500 group-focus-within:text-indigo-500 dark:group-focus-within:text-indigo-400 transition-colors duration-300"></i>
          <kbd class="inline-flex items-center px-2 py-1.5 text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500 absolute right-3 top-3">
            <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 10">
              <path d="M9.207 1A2 2 0 0 0 6.38 1L.793 6.586A2 2 0 0 0 2.207 10H13.38a2 2 0 0 0 1.414-3.414L9.207 1Z"/>
            </svg>
            <span class="sr-only">Arrow key up</span>
          </kbd>
          <div *ngIf="errores.pass" class="text-red-500 text-sm mt-1">{{ 'messages.errorContraseña' | translate }}</div>
        </div>

        <!-- Boton para iniciar sesion -->
        <div class="relative">
          <button
            (click)="verificarCampos()"
            [disabled]="cargando"
            type="submit"
            class="shine-button w-full flex items-center justify-center bg-indigo-700 dark:bg-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-500 text-white p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500"
            [class.loading]="cargando"
          >
            <ng-container *ngIf="cargando; else defaultText">
              <span class="shine-text">{{ ("labelsLogin.cargandoLogin" | translate) + "..." }}</span>
            </ng-container>
            <ng-template #defaultText>
              <span>{{ "labelsLogin.iniciarSesion" | translate }}</span>
            </ng-template>
            <kbd *ngIf="!cargando" class="absolute right-4 top-1/2 transform -translate-y-1/2 px-2 py-1.5 text-xs font-semibold bg-indigo-800 dark:bg-indigo-500 text-white border border-indigo-700 dark:border-indigo-400 rounded-lg">
              enter
            </kbd>
          </button>
        </div>
        
        <!-- Mensaje de error al autenticarse -->
        <div
          *ngIf="errores.general"
          class="text-red-500 text-center text-sm mt-4"
        >
          {{ errores.general }}
        </div>

        <div class="border-t border-gray-200 dark:border-gray-700 my-4"></div>
        <!-- Seccion oculta para modificacin, confirmacion y verificacion de URL -->
        <div
          [ngClass]="{
            'max-h-0 opacity-0': !mostrarMensaje,
            'max-h-[500px] opacity-100': mostrarMensaje
          }"
          class="transition-all duration-500 ease-in-out overflow-hidden"
        >
          <div class="relative mb-4">
            <p class="text-left font-medium text-gray-700 dark:text-gray-300">
              URL:
            </p>
            <div class="relative flex items-center mt-2 pl-2 pr-2">
              <!-- Input para modificacion de URL -->
              <input 
              type="text"
              [(ngModel)]="urlApi"
              (ngModelChange)="mostrarMensajeUrlConfirmacion = true"
              placeholder="{{ 'labelsLogin.ingresarUrlLogin' | translate }}"
              class="w-full px-4 py-2 bg-gray-200 border rounded-lg focus:outline-none pr-10 focus:bg-gray-100 focus:ring-1 focus:ring-indigo-700 dark:text-white dark:bg-gray-700 dark:focus:ring-1 dark:focus:ring-indigo-500 dark:border-none dark:focus:bg-gray-600"
            />
              <button
                (click)="copiarAPortapapeles()"
                class="absolute right-6 top-1/2 transform -translate-y-1/2 bg-gray-300 hover:bg-gray-400 text-black p-1 rounded-full text-xs font-medium shadow-sm transition duration-300 ease-in-out"
                title="Copiar al portapapeles"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 7.5V6.108c0-1.135.845-2.098 1.976-2.192.373-.03.748-.057 1.123-.08M15.75 18H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08M15.75 18.75v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5A3.375 3.375 0 0 0 6.375 7.5H5.25m11.9-3.664A2.251 2.251 0 0 0 15 2.25h-1.5a2.251 2.251 0 0 0-2.15 1.586m5.8 0c.065.21.1.433.1.664v.75h-6V4.5c0-.231.035-.454.1-.664M6.75 7.5H4.875c-.621 0-1.125.504-1.125 1.125v12c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V16.5a9 9 0 0 0-9-9Z"
                  />
                </svg>
              </button>
            </div>
            <p
              *ngIf="mostrarMensajeUrlConfirmacion"
              class="mt-2 text-red-500 text-xs overflow-hidden whitespace-nowrap text-ellipsis"
            >
              {{ "labelsLogin.actualizarUrl" | translate }}
            </p>
            <p
            *ngIf="mostrarMensajeUrlVerificacion"
            class="mt-2 text-xs overflow-hidden whitespace-nowrap text-ellipsis"
            [ngClass]="{'text-red-500': esError, 'text-green-500': esValido}"
          >
            {{ mensajeErrorUrl | translate }}
          </p>
          
          </div>
          <!-- Botones para confirmar y verificar URL -->
          <div class="flex justify-center space-x-4 mt-4">
            <button
              (click)="confirmarUrl()"
              class="p-2 bg-gray-700 rounded-md text-white font-semibold w-24 h-8 flex items-center justify-center text-xs transition-transform transform hover:scale-95"
            >
              {{ "labelsLogin.confirmarBtns" | translate }}
            </button>
            <button
            (click)="verificarUrl(urlApi)"
            class="p-2 bg-blue-900 rounded-md text-white font-semibold w-24 h-8 flex items-center justify-center text-xs transition-transform transform hover:scale-95"
            [disabled]="isVerificando"
          >
            <ng-container *ngIf="!isVerificando; else spinner">
              {{ "labelsLogin.verificarBtns" | translate }}
            </ng-container>
            <ng-template #spinner>
              <svg
                class="animate-spin h-4 w-4 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8v8H4z"
                ></path>
              </svg>
            </ng-template>
          </button>
          </div>
        </div>

        <div class="flex items-center space-x-2 mt-6">
          <label for="language-select" class="text-gray-800 dark:text-gray-200 text-sm">
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3M12 21C9.4651 18.3899 8 15.3051 8 12C8 8.69488 9.4651 5.61005 12 3M12 21C14.5349 18.3899 16 15.3051 16 12C16 8.69488 14.5349 5.61005 12 3M20 9H4M20 15H4"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-gray-800 dark:text-gray-200"
              />
            </svg>
          </label>
        
          <!-- Dropdown de idiomas -->
          <div class="relative flex items-center">
            <button
              (click)="toggleIdiomaMenu()"
              class="flex items-center justify-between rounded-md p-2 text-black dark:text-white bg-gray-100 dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 dark:focus:ring-gray-600 transition duration-150 ease-in-out"
            >
              <img
                [src]="getFlagUrl(traduccionService.getIdiomaActual())"
                alt="Current Language Flag"
                class="w-4 h-3 mr-2"
              />
              <span class="text-xs md:text-sm">
                {{
                  traduccionService.getIdiomaActual() === "en"
                    ? "English"
                    : traduccionService.getIdiomaActual() === "es"
                    ? "Español"
                    : traduccionService.getIdiomaActual() === "fr"
                    ? "Frances"
                    : "German"
                }}
              </span>
              <svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20">
                <path d="M7 10l5 5 5-5H7z" />
              </svg>
            </button>
        
            <div
              *ngIf="isIdiomaMenuOpen"
              class="absolute z-10 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-md mt-1 shadow-lg w-32"
            >
              <div
                (click)="onCambioIdioma('en')"
                class="p-2 cursor-pointer flex items-center text-xs text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700"
              >
                <img
                  src="images/us.png"
                  alt="US Flag"
                  class="inline-block w-4 h-3 mr-2"
                />
                English
              </div>
              <div
                (click)="onCambioIdioma('es')"
                class="p-2 cursor-pointer flex items-center text-xs text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700"
              >
                <img
                  src="images/es.png"
                  alt="Spanish Flag"
                  class="inline-block w-4 h-3 mr-2"
                />
                Español
              </div>
              <div
                (click)="onCambioIdioma('fr')"
                class="p-2 cursor-pointer flex items-center text-xs text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700"
              >
                <img
                  src="images/fr.png"
                  alt="France Flag"
                  class="inline-block w-4 h-3 mr-2"
                />
                Frances
              </div>
              <div
                (click)="onCambioIdioma('de')"
                class="p-2 cursor-pointer flex items-center text-xs text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700"
              >
                <img
                  src="images/de.png"
                  alt="Germany Flag"
                  class="inline-block w-4 h-3 mr-2"
                />
                German
              </div>
            </div>
          </div>
        
          <!-- Botón para mostrar modal -->
          <button
            *ngIf="mostrarBotonModal"
            (click)="abrirModal()"
            class="bg-gray-500 dark:bg-gray-700 hover:bg-gray-600 dark:hover:bg-gray-800 text-white text-xs font-medium py-1 px-2 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-400 dark:focus:ring-gray-600 transition duration-150 ease-in-out"
          >
            {{ "labelsLogin.verModalInfo" | translate }}
          </button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="absolute top-4 right-4 space-y-2">
    <!-- Botón de Modo Oscuro/Claro -->
    <button
      (click)="toggleModoOscuroElementLogin()"
      class="w-12 h-12 rounded-full bg-gray-300 flex items-center justify-center shadow-lg hover:bg-gray-400 transition duration-300 relative"
      title="Modo {{ esModoOscuro ? 'oscuro' : 'claro' }}"
    >
      <ng-container *ngIf="esModoOscuro; else modoClaro">
        <i class="fa-solid fa-moon text-gray-700"></i>
      </ng-container>
      <ng-template #modoClaro>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z"
          />
        </svg>
      </ng-template>
    </button>


    <!-- Botón de seleccionar color -->
    <!-- <button
      (click)="toggleColorSelector()"
      class="w-12 h-12 rounded-full bg-gray-300 flex items-center justify-center shadow-lg hover:bg-gray-400 transition duration-300 relative"
      title="Seleccionar color"
    >
      <i class="fa-solid fa-palette text-gray-700"></i>
    </button> -->

    <!-- Selector de color -->
    <!-- <div
      *ngIf="isColorSeleccinadoAbierto"
      class="absolute top-full right-0 mt-2 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-md shadow-lg p-2 transition-transform duration-300 ease-in-out animate-fade-in z-50"
      [ngClass]="{
        'opacity-100': isColorSeleccinadoAbierto,
        'opacity-0': !isColorSeleccinadoAbierto
      }"
    >
      <div
        *ngFor="let color of coloresDisponibles"
        (click)="onCambioColor(color.value)"
        class="flex items-center justify-center mb-2 cursor-pointer transition-transform duration-300 transform hover:scale-105"
        title="{{ color.name }}"
      >
        <div
          class="w-12 h-12 rounded-full"
          [ngStyle]="{ background: color.value }"
          title="{{ color.name }}"
        ></div>
      </div>
    </div> -->
  </div>

  <!-- Modal -->
  <div *ngIf="mostrarModal || isExiting" class="fixed inset-0 flex items-center justify-center z-50" 
  [ngClass]="{
    'overlay-enter-active': mostrarModal,
    'overlay-exit-active': !mostrarModal && !isExiting
  }" (click)="cerrarModal()">
  
  
  <div class="w-full max-w-lg sm:max-w-2xl md:max-w-4xl h-[75vh] sm:h-[85vh] md:h-[65vh] px-8 py-10 mx-auto bg-white dark:bg-gray-800 rounded-3xl shadow-2xl relative overflow-hidden 
    border border-white dark:border-gray-800 m-4 sm:m-8 md:m-12" 
    [ngClass]="{'modal-enter': mostrarModal && !isExiting, 'modal-exit': isExiting}" (click)="$event.stopPropagation()">
    
    <div class="relative">
      <!-- Botón Cerrar Modal -->
      <button
        (click)="cerrarModal()"
        class="absolute top-4 right-4 text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200 transition-colors duration-200"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    
      <!-- Título del Modal -->
      <div class="text-center py-4 px-6 bg-gray-100 dark:bg-gray-700 rounded-t-2xl text-gray-900 dark:text-white shadow-lg">
        <h2
          class="text-3xl font-extrabold tracking-wide text-gray-900 dark:text-transparent bg-clip-text text-transparent bg-gradient-to-r from-orange-500 to-blue-500 transition-all duration-500 ease-in-out"
        >
          {{ 'labelsLogin.menuAutenticacion' | translate }}
        </h2>
      </div>
    
      <!-- Subtítulo opcional -->
      <p class="text-sm text-gray-600 dark:text-gray-300 text-center mt-2">
        {{ 'labelsLogin.seleccionarInformacionAdicional' | translate }}
      </p>
    </div>
    
      <div class="mt-6 h-[calc(100%-120px)] overflow-y-auto p-2 dark:text-gray-200">
        <!-- Acordeónes para mostrar la informacion -->
        <div class="space-y-4">
            <!-- Acordeon Estaciones -->
            <div class="accordion-item border-b border-gray-200 dark:border-gray-600">
              <div
                (click)="sectionOpen = sectionOpen === 'estaciones' ? null : 'estaciones'"
                class="flex items-center text-gray-600 w-full border-b cursor-pointer 
                hover:bg-gradient-to-r from-blue-200 to-indigo-300 
                dark:text-gray-400 dark:hover:bg-gradient-to-r dark:hover:text-gray-200 dark:from-indigo-500 dark:to-blue-600 
                rounded-md transition-all duration-300 ease-in-out"
              [ngClass]="{
                'bg-blue-100 text-gray-400 dark:bg-indigo-400 dark:text-white': sectionOpen === 'estaciones'
              }"
              >
                <div
                  class="w-8 border-r px-2 transform transition-transform duration-300 ease-in-out"
                  [ngClass]="{
                    'rotate-90': sectionOpen === 'estaciones',
                    'rotate-0': sectionOpen !== 'estaciones'
                  }"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                  </svg>
                </div>
                <div class="flex-1 px-2 py-2">
                  <span class="text-base font-medium">{{ "labelsLogin.estacionesTrabajoLogin" | translate }}</span>
                </div>
              </div>

              <!-- Contenido del Acordeón con scroll interno -->
              <div class="accordion-content" [ngClass]="{ open: sectionOpen === 'estaciones' }">
                <div class="max-h-56 overflow-y-auto">
                  <ul class="list-none p-0">
                    <li
                      *ngFor="let estacion of estacionTrabajo"
                      (click)="seleccionarItem('estaciones', estacion)"
                      [ngClass]="{
                        'bg-blue-400 text-white dark:bg-indigo-500 dark:text-white':
                          seleccionados['estaciones'] === estacion
                      }"
                      class="cursor-pointer py-2 px-3 hover:bg-blue-200 dark:hover:bg-indigo-200 dark:hover:text-gray-600 text-sm rounded-md transition-colors duration-200"
                    >
                      {{ estacion.descripcion }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Acordeon Empresas -->
            <div class="accordion-item border-b border-gray-200 dark:border-gray-600">
              <div
                (click)="sectionOpen = sectionOpen === 'empresas' ? null : 'empresas'"
                class="flex items-center text-gray-600 w-full border-b cursor-pointer 
                      hover:bg-gradient-to-r from-blue-200 to-indigo-300 
                      dark:text-gray-400 dark:hover:bg-gradient-to-r dark:hover:text-gray-200 dark:from-indigo-500 dark:to-blue-600 
                      rounded-md transition-all duration-300 ease-in-out"
                [ngClass]="{
                  'bg-blue-100 text-gray-400 dark:bg-indigo-400 dark:text-white': sectionOpen === 'empresas'
                }"
              >
                <div
                  class="w-8 border-r px-2 transform transition-transform duration-300 ease-in-out"
                  [ngClass]="{
                    'rotate-90': sectionOpen === 'empresas',
                    'rotate-0': sectionOpen !== 'empresas'
                  }"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                  </svg>
                </div>
                <div class="flex-1 px-2 py-2">
                  <span class="text-base font-medium">{{ "labelsLogin.empresasLogin" | translate }}</span>
                </div>
              </div>

              <div class="accordion-content" [ngClass]="{ open: sectionOpen === 'empresas' }">
                <div class="max-h-56 overflow-y-auto">
                  <ul class="list-none p-0">
                    <li
                      *ngFor="let empresa of empresa"
                      (click)="seleccionarItem('empresas', empresa)"
                      [ngClass]="{
                        'bg-blue-400 text-white dark:bg-indigo-500 dark:text-white': seleccionados['empresas'] === empresa
                      }"
                      class="cursor-pointer py-2 px-3 hover:bg-blue-200 dark:hover:bg-indigo-300  dark:hover:text-gray-600 text-sm rounded-md transition-colors duration-200"
                    >
                      {{ empresa.empresa_Nombre }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Acordeon Aplicaciones -->
            <div class="accordion-item border-b border-gray-200 dark:border-gray-600">
              <div
                (click)="sectionOpen = sectionOpen === 'aplicaciones' ? null : 'aplicaciones'"
                class="flex items-center text-gray-600 w-full border-b cursor-pointer 
                      hover:bg-gradient-to-r from-blue-200 to-indigo-300 
                      dark:text-gray-400 dark:hover:bg-gradient-to-r dark:hover:text-gray-200 dark:from-indigo-500 dark:to-blue-600 
                      rounded-md transition-all duration-300 ease-in-out"
                [ngClass]="{
                  'bg-blue-100 text-gray-400 dark:bg-indigo-400 dark:text-white': sectionOpen === 'aplicaciones'
                }"
              >
                <div
                  class="w-8 border-r px-2 transform transition-transform duration-300 ease-in-out"
                  [ngClass]="{
                    'rotate-90': sectionOpen === 'aplicaciones',
                    'rotate-0': sectionOpen !== 'aplicaciones'
                  }"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                  </svg>
                </div>
                <div class="flex-1 px-2 py-2">
                  <span class="text-base font-medium">{{ "labelsLogin.aplicacionesLogin" | translate }}</span>
                </div>
              </div>

              <div class="accordion-content" [ngClass]="{ open: sectionOpen === 'aplicaciones' }">
                <div class="max-h-56 overflow-y-auto">
                  <ul class="list-none p-0">
                    <li
                      *ngFor="let app of application1"
                      (click)="onAplicacionSeleccionada(app)"
                      [ngClass]="{
                        'bg-blue-400 text-white dark:bg-indigo-500 dark:text-white': aplicacionSeleccionada === app
                      }"
                      class="cursor-pointer py-2 px-3 hover:bg-blue-200 dark:hover:bg-indigo-300  dark:hover:text-gray-600 text-sm rounded-md transition-colors duration-200"
                    >
                      {{ app.description }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Acordeon Displays -->
            <div class="accordion-item border-b border-gray-200 dark:border-gray-600">
              <div
              (click)="sectionOpen = sectionOpen === 'displays' ? null : 'displays'"
              class="flex items-center text-gray-600 w-full border-b cursor-pointer 
              hover:bg-gradient-to-r from-blue-200 to-indigo-300 
              dark:text-gray-400 dark:hover:bg-gradient-to-r dark:hover:text-gray-200 dark:from-indigo-500 dark:to-blue-600 
              rounded-md transition-all duration-300 ease-in-out"
              [ngClass]="{
                'bg-blue-100 text-gray-400 dark:bg-indigo-400 dark:text-white': sectionOpen === 'displays'
              }"
            >
              <div
                class="w-8 border-r px-2 transform transition-transform duration-300 ease-in-out"
                [ngClass]="{
                  'rotate-90': sectionOpen === 'displays',
                  'rotate-0': sectionOpen !== 'displays'
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                  />
                </svg>
              </div>
              <div class="flex-1 px-2 py-2">
                <span class="text-base font-medium">{{ "labelsLogin.displaysLogin" | translate }}</span>
              </div>
              <div 
              *ngIf="userDisplaysPadres && userDisplaysPadres.length > 0" 
              class="text-sm mt-3 mr-2 pb-3"
              >
                Hay displays disponibles
              </div>
            </div>

            <div class="accordion-content" [ngClass]="{ open: sectionOpen === 'displays' }">
              <div class="max-h-56 overflow-y-auto">
                <!-- Mostrar mensaje si no hay displays -->
                <div *ngIf="userDisplaysPadres.length === 0" class="text-center text-gray-500 py-4">
                  <span>{{ "labelsLogin.noDisplaysDisponibles" | translate }}</span>
                </div>
                <ul *ngIf="userDisplaysPadres.length > 0" class="list-none p-0">
                  <li *ngFor="let padre of userDisplaysPadres">
                    <!-- Elemento Padre -->
                    <div
                      (click)="padre.abierto = !padre.abierto"
                      class="flex items-center cursor-pointer py-2 px-3 hover:bg-blue-200 dark:hover:bg-indigo-300 dark:hover:text-gray-700 text-sm rounded-md transition-colors duration-200"
                      [ngClass]="{ 'bg-blue-400 text-white dark:bg-indigo-500 dark:text-white': padre.abierto }"
                    >
                      <div
                        class="mr-2 transition-transform duration-300"
                        [ngClass]="{ 'rotate-90': padre.abierto, 'rotate-0': !padre.abierto }"
                      >
                        <i class="fa-solid fa-angle-down items-center"></i>
                      </div>
                      {{ padre.name }}
                    </div>
                
                    <!-- Lista de Hijos -->
                    <ul
                      *ngIf="padre.abierto && padre.hijos.length > 0"
                      class="list-none pl-6 ml-4 border-l-2 border-gray-300 dark:border-gray-600"
                    >
                      <li *ngFor="let hijo of padre.hijos">
                        <!-- Elemento Hijo -->
                        <div
                        (click)="hijo.hijos.length > 0 ? hijo.abierto = !hijo.abierto : seleccionarItem('displays', hijo)"
                        class="flex items-center cursor-pointer py-2 px-3 hover:bg-blue-200 dark:hover:bg-indigo-300 dark:hover:text-gray-700 text-sm rounded-md transition-colors duration-200"
                        [ngClass]="{
                          'bg-blue-400 text-white dark:bg-indigo-500 dark:text-white': hijo.abierto,
                          'text-blue-700 dark:text-indigo-400': seleccionados['displays'] === hijo,
                          'text-gray-600 dark:text-gray-400': seleccionados['displays'] !== hijo
                        }"
                      >
                        <div
                          class="mr-2 transition-transform duration-300"
                          [ngClass]="{ 'rotate-90': hijo.abierto && hijo.hijos.length > 0, 'rotate-0': !hijo.abierto }"
                        >
                          <i class="fa-solid fa-angle-down items-center"></i>
                        </div>
                        {{ hijo.name }}
                      </div>
                      

                
                        <!-- Lista de Hijos del Hijo -->
                        <ul
                          *ngIf="hijo.abierto && hijo.hijos.length > 0"
                          class="list-none pl-6 ml-4 border-l-2 border-gray-300 dark:border-gray-600"
                        >
                          <li *ngFor="let nieto of hijo.hijos">
                            <!-- Nieto (último nivel o más) -->
                            <div
                              (click)="seleccionarItem('displays', nieto)"
                              [ngClass]="{
                                'text-blue-700 dark:text-indigo-400': seleccionados['displays'] === nieto,
                                'text-gray-600 dark:text-gray-400': seleccionados['displays'] !== nieto
                              }"
                              class="relative cursor-pointer py-1.5 pl-2 text-sm transition-all duration-200
                                    hover:text-blue-500 hover:dark:text-indigo-300 rounded-md"
                            >
                              <!-- Ramificación -->
                              <span
                                class="before:content-[''] before:absolute before:left-[-1.5rem] before:top-1/2 before:h-0.5 before:w-5 before:bg-gray-300 dark:before:bg-gray-600"
                              ></span>
                
                              {{ nieto.name }}
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
                
              </div>
            </div>
            </div>

            <!-- Opciones seleccionadas -->
            <div class="mt-4">
              <h3 class="text-lg font-semibold mb-2 text-center">
                {{ "labelsLogin.opcionesSeleccionadas" | translate }}
              </h3>
              <div class="flex flex-wrap justify-center gap-2">
                <ng-container *ngIf="seleccionados['estaciones']">
                  <div class="bg-blue-100 text-blue-600 px-3 py-1 rounded-full shadow-md flex items-center opacity-0 animate-in" 
                      [ngClass]="{'animate-in': seleccionados['estaciones'], 'animate-out': !seleccionados['estaciones']}">
                    {{ seleccionados["estaciones"].descripcion }}
                    <button (click)="limpiarSeleccion('estaciones')" class="ml-2 text-red-500 hover:text-red-700">
                      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>
                  </div>
                </ng-container>

                <!-- Empresas -->
                <ng-container *ngIf="seleccionados['empresas']">
                  <div class="bg-blue-100 text-blue-600 px-3 py-1 rounded-full shadow-md flex items-center opacity-0 animate-in" 
                      [ngClass]="{'animate-in': seleccionados['empresas'], 'animate-out': !seleccionados['empresas']}">
                    {{ seleccionados["empresas"].empresa_Nombre }}
                    <button (click)="limpiarSeleccion('empresas')" class="ml-2 text-red-500 hover:text-red-700">
                      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>
                  </div>
                </ng-container>

                <!-- Aplicaciones -->
                <ng-container *ngIf="aplicacionSeleccionada">
                  <div class="bg-blue-100 text-blue-600 px-3 py-1 rounded-full shadow-md flex items-center opacity-0 animate-in" 
                      [ngClass]="{'animate-in': aplicacionSeleccionada, 'animate-out': !aplicacionSeleccionada}">
                    {{ aplicacionSeleccionada.description }}
                    <button (click)="limpiarSeleccion('aplicaciones')" class="ml-2 text-red-500 hover:text-red-700">
                      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>
                  </div>
                </ng-container>

                <!-- Displays -->
                <ng-container *ngIf="seleccionados['displays']">
                  <div class="bg-blue-100 text-blue-600 px-3 py-1 rounded-full shadow-md flex items-center opacity-0 animate-in" 
                      [ngClass]="{'animate-in': seleccionados['displays'], 'animate-out': !seleccionados['displays']}">
                    {{ seleccionados["displays"].name }}
                    <button (click)="limpiarSeleccion('displays')" class="ml-2 text-red-500 hover:text-red-700">
                      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>

            <!-- Footer para botón de guardar cambios y botón para guardar datos de inicio de sesión -->
            <div class="absolute bottom-0 left-0 right-0 p-4 bg-gray-100 dark:bg-gray-700 shadow-lg flex flex-col md:flex-row justify-between items-center">

              <!-- Logo de la empresa a la izquierda -->
              <div class="flex items-center mb-2 md:mb-0">
                <img [src]="esModoOscuro ? 'images/logoDmosoftCarga.png' : 'images/logoDmosoft.png'" 
                alt="Logo de la empresa" 
                class="h-10">
              </div>

              <!-- Sección de botones y checkbox a la derecha -->
              <div class="flex justify-end space-x-4">
                <!-- Botón Guardar Cambios -->
                <button *ngIf="validarSeleccion()" (click)="guardarCambios()"
                  class="bg-blue-900 hover:bg-blue-800 text-white px-4 py-2 rounded-md text-sm font-medium shadow-md transition duration-300 ease-in-out">
                  {{ "labelsLogin.guardarCambios" | translate }}
                </button>

                <!-- Checkbox para Guardar Datos de Sesión -->
                <label class="inline-flex items-center cursor-pointer">
                  <input type="checkbox" 
                         class="sr-only peer" 
                         *ngIf="validarSeleccion()" 
                         [checked]="guardarDatosSesion" 
                         (change)="onGuardarDatosSesionChange($event)"
                        >
                  <div class="relative w-12 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-800 peer-checked:bg-blue-200 dark:peer-checked:bg-blue-50 transition-colors duration-500 ease-in-out shadow-md peer-checked:shadow-lg">
                    <div class="absolute inset-0 flex items-center justify-between px-2">
                      <i class="fas fa-times text-red-500 transition-opacity duration-300 ease-in-out" 
                         [ngClass]="{'opacity-100': !guardarDatosSesion, 'opacity-0': guardarDatosSesion}"></i>
                      <i class="fas fa-check text-green-500 transition-opacity duration-300 ease-in-out" 
                         [ngClass]="{'opacity-0': !guardarDatosSesion, 'opacity-100': guardarDatosSesion}"></i>
                    </div>
                  </div>
                  <span class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{'labelsLogin.guardarDatosSesion' | translate}}</span>
                </label>
              </div>
            </div>
        </div>  
      </div>
    </div>
    
    <!-- Mensaje dinámico -->
    <div *ngIf="mensajeEstadoDatosSesion" class="fixed inset-0 flex items-center justify-center z-50">
      <div 
        [ngClass]="{
          'text-green-600 bg-green-100 border-green-300 dark:text-green-400 dark:bg-green-800 dark:border-green-700': mensajeTipo === 'guardado',
          'text-gray-800 bg-gray-100 border-gray-300 dark:text-gray-300 dark:bg-gray-700 dark:border-gray-600': mensajeTipo === 'noGuardado'
        }"
        class="max-w-sm w-full p-4 border rounded-lg shadow-lg transition-transform transform scale-100 animate-slideIn"
        >
        <p class="text-center text-sm font-medium">
          {{ mensajeEstadoDatosSesion | translate }}
          </p>
      </div>
    </div>
  </div>

  <svg
    class="absolute bottom-0 left-0 w-full"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill="#fff"
      fill-opacity="1"
      d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    ></path>
  </svg>
</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"></script>
