.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #3b4b9a, #172554);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transición suave para ocultar el componente */
  opacity: 1; 
  transform: scale(1); 
}
.loading-screen.hidden {
  opacity: 0;
  transform: scale(1.05); /* Agrandar para un efecto de salida */
  pointer-events: none; /* Evita la interacción con el componente cuando está oculto */
}

.spinner {
  width: 60px; 
  height: 60px; 
  display: flex;
  justify-content: space-between; 
}

.spinner > div {
  background-color: #fff; 
  height: 100%;
  width: 8px;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  margin: 0 2px; /* Espaciado menor entre las barras */
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.company-logo {
  width: 150px;
  margin-bottom: 30px; 
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); 
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(-20px); /* Desplazamiento hacia arriba */
  animation: fadeInUp 0.5s forwards; /* Aplicar la animación */
  animation-delay: 0.2s; /* Retardo para que el spinner aparezca primero */
}

@keyframes fadeInUp {
  to {
    opacity: 1; /* Hacer visible */
    transform: translateY(0); /* Restablecer la posición */
  }
}


